<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Login')"/>
<body>
<div th:replace="partials :: navbar"></div>
<div th:replace="partials :: header"></div>

<h1>Log In</h1>
<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:fragment="login" th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username"/>
    <label for="password">Password</label>
    <input type="password" name="password" id="password"/>
    <button type="submit">Log In</button>
</form>
<a th:href="@{/sign-up}">Register</a>

<div th:replace="partials :: footer"></div>
<div th:replace="partials :: scripts"/>
</body>
</html>
