.fancy-header{
    /*vw: 100%;*/
    /*background: red;*/
}

.fancy-footer{
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

footer, header{
    display: block;
}

html{
    height: 100%;
}
body{
    min-height: 100%;
}