<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta th:replace="partials :: bootstrap-meta"/>
    <link th:replace="partials :: bootstrap"/>
    <!--<link th:replace="partials :: stylesheet"/>-->
    <link rel="stylesheet" type="text/css" href="/partials.css"/>

</head>
<body>
<div class="container-fluid">
    <nav th:replace="partials :: navbar"/>
    <header th:replace="partials :: header"/>
    <header th:replace="partials :: footer"/>
    <div th:replace="partials :: bootstrap-scripts"/>
</div>

</body>
</html>